.loader {
  margin-top: 50px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(95, 95, 216);
  border-right: 16px solid rgb(87, 212, 87);
  border-bottom: 16px solid rgb(194, 74, 74);
  border-left: 16px solid rgb(212, 214, 92);
  width: 300px;
  height: 300px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}