@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject StorageService storageService
@inject NavigationManager NavManager

<nav class="navbar navbar-dark bg-dark nav-lightdark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNC41NTdjLS44ODMuMzkyLTEuODMyLjY1Ni0yLjgyOC43NzUgMS4wMTctLjYwOSAxLjc5OC0xLjU3NCAyLjE2NS0yLjcyNC0uOTUxLjU2NC0yLjAwNS45NzQtMy4xMjcgMS4xOTUtLjg5Ny0uOTU3LTIuMTc4LTEuNTU1LTMuNTk0LTEuNTU1LTMuMTc5IDAtNS41MTUgMi45NjYtNC43OTcgNi4wNDUtNC4wOTEtLjIwNS03LjcxOS0yLjE2NS0xMC4xNDgtNS4xNDQtMS4yOSAyLjIxMy0uNjY5IDUuMTA4IDEuNTIzIDYuNTc0LS44MDYtLjAyNi0xLjU2Ni0uMjQ3LTIuMjI5LS42MTYtLjA1NCAyLjI4MSAxLjU4MSA0LjQxNSAzLjk0OSA0Ljg5LS42OTMuMTg4LTEuNDUyLjIzMi0yLjIyNC4wODQuNjI2IDEuOTU2IDIuNDQ0IDMuMzc5IDQuNiAzLjQxOS0yLjA3IDEuNjIzLTQuNjc4IDIuMzQ4LTcuMjkgMi4wNCAyLjE3OSAxLjM5NyA0Ljc2OCAyLjIxMiA3LjU0OCAyLjIxMiA5LjE0MiAwIDE0LjMwNy03LjcyMSAxMy45OTUtMTQuNjQ2Ljk2Mi0uNjk1IDEuNzk3LTEuNTYyIDIuNDU3LTIuNTQ5eiIvPjwvc3ZnPg==" width="30" height="30" class="d-inline-block align-top" alt="">
      SentiTweet
    </a>
    
    @if (LoggedIn)
    {
    <span>
      <a href="/admin/reevaluate">
      <button class="btn btn-outline-light" type="submit">Reevaluate</button>
      </a>
      <a href="#">
      <button class="btn btn-outline-light" type="submit" @onclick="Logout">Logout</button>
      </a>
    </span>
    } else {
    <span>
      <a href="/login">
      <button class="btn btn-outline-light" type="submit">Login</button>
      </a>
      <a href="/register" style="margin-left: 10px;">
      <button class="btn btn-outline-light" type="submit">Register</button>
      </a>
    </span>
    }
    
  </div>
</nav>

@code {
  public bool LoggedIn { get; set; }

  
   protected override void OnInitialized()
   {
     LoggedIn = false;
     if (storageService.Has("token")) {
      string token = storageService.Get("token");
      Console.WriteLine($"token from navbar: {token}");
      LoggedIn = true;
      StateHasChanged();
    }
   }

    public void Logout()
    {
      storageService.Del("token");
      LoggedIn = false;
      NavManager.NavigateTo("/");
    }
}